* {
  font-family: Montserrat-Medium, Arial, Helvetica, sans-serif;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #F9FAFC;
  z-index: 0;
}

div#root {
  height: 100%;
  width: 100%;
}

div#root header {
  height: 57.51px;
  background: #FFFFFF;
  outline: 1px solid #CED4DA;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

div#root header nav {
  width: inherit !important;
}

div#root header div.dropdown-menu.show {
  border: none;
  padding: 5px !important;
  min-width: 80px !important;
}

div#root header div.dropdown-menu.show .dropdown-item {
  padding: 5px 10px 5px 10px;
}

div#root header button.navbar-toggler {
  border-color: white;
}

div#root header img.logo {
  padding-bottom: 5px;
}

div#root main.mainContext {
  padding-top: 25px !important;
  weight: 100%;
  height: calc(100% - 57.51px);
  background: #F9FAFC;
}

div#root main.mainContext select {
  font-size: 1.25rem;
  line-height: 1.5;
}

div#root main.mainContext input {
  cursor: pointer;
}

div#root main.mainContext div.helloContext {
  padding-top: 50px;
}

div#root main.mainContext div.multiSelect-wrap {
  background: white;
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px #CED4DA;
          box-shadow: 0 0 0 1px #CED4DA;
  border-radius: 3px;
  z-index: 99;
}

div#root main.mainContext div.hellotext-wrap h2, div#root main.mainContext div.hellotext-wrap p {
  text-align: center;
}

div#root main.mainContext div.regVen, div#root main.mainContext div.startTransaction, div#root main.mainContext div.hotline {
  padding: 25px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px lightgray;
          box-shadow: 0 0 2px lightgray;
}

div#root main.mainContext div.venPicture-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

div#root main.mainContext div.venPicture-wrap img {
  border-radius: 3px;
  border: 1px solid lightgray;
}

div#root main.mainContext div.venPicture-wrap span {
  margin-top: 10px;
}

div#root main.mainContext div.vProfile img, div#root main.mainContext div.uProfile img {
  border-radius: 3px;
  border: 1px solid lightgray;
}

div#root main.mainContext div.vProfile h3.venProfile-h3, div#root main.mainContext div.vProfile h3.usProfile-h3, div#root main.mainContext div.uProfile h3.venProfile-h3, div#root main.mainContext div.uProfile h3.usProfile-h3 {
  margin-bottom: 15px;
}

div#root main.mainContext div.vProfile span.profileData, div#root main.mainContext div.vProfile a, div#root main.mainContext div.uProfile span.profileData, div#root main.mainContext div.uProfile a {
  font-size: 1em;
}

div#root main.mainContext div.vProfile div.table-wrap, div#root main.mainContext div.uProfile div.table-wrap {
  margin-bottom: 40px;
}

div#root main.mainContext div.viewVendors div.vendors_pseudoHeader {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

div#root main.mainContext div.viewVendors div.vendors_pseudoHeader h2 {
  margin-right: 50px;
  margin-bottom: 0;
}

div#root main.mainContext div.viewVendors p.text-info {
  margin-bottom: 10px;
}

div#root main.mainContext div.viewVendors table.vendors__table {
  cursor: pointer;
}

div#root main.mainContext div.tableSort-wrap {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

div#root main.mainContext div.map-wrap {
  height: 400px;
}

div#root main.mainContext div.reportForm div.form-check {
  padding: 0;
  margin-bottom: 5px;
}

div#root main.mainContext div.reportForm div.form-check label.form-check-label {
  min-width: 250px;
}

div#root main.mainContext div.reportForm div.form-check input {
  cursor: pointer;
}

div#root main.mainContext div.vProfile span.vName, div#root main.mainContext div.vProfile span.uName, div#root main.mainContext div.uProfile span.vName, div#root main.mainContext div.uProfile span.uName {
  margin: 10px 0 10px 0;
  font-size: 1.1em;
  font-weight: 600;
}

div#root main.mainContext div.vProfile span.venProfile-country--item,
div#root main.mainContext div.vProfile span.userProfile-task--item, div#root main.mainContext div.uProfile span.venProfile-country--item,
div#root main.mainContext div.uProfile span.userProfile-task--item {
  display: block;
}

div#root main.mainContext div.vProfile label.lead, div#root main.mainContext div.uProfile label.lead {
  font-family: Montserrat-Regular;
  display: block;
  font-size: 1.3em;
  margin-bottom: 5px;
  font-weight: 600;
}

div#root main.mainContext div.vProfile span.profileData, div#root main.mainContext div.vProfile li, div#root main.mainContext div.vProfile td, div#root main.mainContext div.vProfile a, div#root main.mainContext div.uProfile span.profileData, div#root main.mainContext div.uProfile li, div#root main.mainContext div.uProfile td, div#root main.mainContext div.uProfile a {
  font-size: 1.1em;
  color: #1F5C6B;
}

div#root main.mainContext div.vProfile section, div#root main.mainContext div.uProfile section {
  padding: 5px;
  margin-bottom: 10px;
}

div#root main.mainContext div.vProfile section.rightItem, div#root main.mainContext div.uProfile section.rightItem {
  padding: 0;
  margin: 0;
}

div#root main.mainContext div.vProfile ul.profileData, div#root main.mainContext div.uProfile ul.profileData {
  margin: 0;
  padding-left: 20px;
}

div#root main.mainContext div.vProfile img.vendorPhoto, div#root main.mainContext div.vProfile img.userPhoto, div#root main.mainContext div.uProfile img.vendorPhoto, div#root main.mainContext div.uProfile img.userPhoto {
  width: 200px;
}

div#root main.mainContext div.vProfile button.venInspectBut, div#root main.mainContext div.uProfile button.venInspectBut {
  width: 90px;
}

div#root main.mainContext div.vProfile button[disabled], div#root main.mainContext div.uProfile button[disabled] {
  opacity: 0.25;
}

div#root main.mainContext .vendors__table th, div#root main.mainContext .vendors__table tr {
  text-align: center;
}

select {
  font-size: 1rem !important;
}

div.report_context {
  padding: 25px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px lightgray;
          box-shadow: 0 0 2px lightgray;
}

div.regVen, div.startTransaction, div.hotline, div.report_context {
  max-width: 850px;
  margin-bottom: 25px;
}

div.styles_modal__gNwvD.styles_modalCenter__L9F2w {
  width: 700px !important;
}

div.styles_modal__gNwvD.styles_modalCenter__L9F2w div.inspF div.venPicture-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

div.styles_modal__gNwvD.styles_modalCenter__L9F2w div.inspF div.venPicture-wrap img {
  border-radius: 3px;
  border: 1px solid lightgray;
}

div.styles_modal__gNwvD.styles_modalCenter__L9F2w div.inspF div.venPicture-wrap span {
  margin-top: 10px;
}

div.styles_modal__gNwvD.styles_modalCenter__L9F2w div.inspF div.questions {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #CED4DA;
  margin-top: 20px;
}

div.styles_modal__gNwvD.styles_modalCenter__L9F2w div.inspF div.questions div.questions-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

div.styles_modal__gNwvD.styles_modalCenter__L9F2w div.inspF div.questions div.questions-wrap span.question {
  min-width: 125px;
  font-size: 0.9em;
  margin-left: 25px;
}

label.checkingUnit {
  min-width: 230px !important;
  font-size: 0.9em;
}

div.ball {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.logOut {
  color: black;
  font-size: 1em;
}

.form-control, .form-control-lg {
  width: 100% !important;
}

div.authedUser_label_wrap__profileLable {
  display: inline-block;
}

div.authedUser_label_wrap__profileLable:hover {
  text-decoration: none;
}

.btn-danger, .btn-success {
  border-color: black !important;
  background: #F9FAFC !important;
  color: black !important;
}

.btn-danger:active, .btn-success:active {
  border-color: white !important;
  background: white !important;
  color: white !important;
}

.btn-danger:focus, .btn-success:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media screen and (max-width: 540px) {
  .hellotext-wrap .display-5 {
    font-size: 1.2em;
  }
  .hellotext-wrap .text-info {
    font-size: 0.8em;
    width: 200px;
  }
  div.row p.text-primary {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  main.mainContext {
    padding-top: 15px !important;
  }
  .btn-success {
    margin-bottom: 10px;
  }
  div.confirmChoise-wrap .btn-success {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 375px) {
  section {
    font-size: 0.8em;
  }
  div.userCard-wrap, div.w-100 {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  div.userCard-wrap section, div.w-100 section {
    width: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
}

@media screen and (max-width: 540px) {
  .vendors__table th, .vendors__table td {
    font-size: 0.8em !important;
  }
}

@media screen and (max-width: 500px) {
  table.vendors__table img {
    width: 10px;
  }
  .vendors__table th, .vendors__table td {
    font-size: 0.6em !important;
    padding: 2px !important;
  }
  div.userCard-wrap {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  div.userCard-wrap section {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  .vendors__table th, .vendors__table td {
    font-size: 0.525em !important;
  }
}

@media screen and (max-width: 768px) {
  h3.usProfile-h3 {
    text-align: center;
  }
  div.regVen div.form-group {
    margin-bottom: 25px !important;
  }
  .vendors__table th, .vendors__table td {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 992px) {
  div.venredBuisnessChoise, div.ingredientUnit-wrapper {
    margin-bottom: 25px !important;
    margin-top: 15px;
    background: #F9FAFC;
    border-right: 2px solid #F1F2F4;
  }
  div.venredBuisnessChoise button, div.ingredientUnit-wrapper button {
    margin-top: 15px !important;
  }
  div.chedule button {
    margin-top: 15px !important;
  }
  div.ingredientUnit-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  div.sortBar {
    display: none;
  }
  div.vProfile div.userCard {
    margin-bottom: 45px;
  }
  div.vProfile div.userCard div.userCard-wrap, div.vProfile div.userCard div.w-100 {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    width: auto !important;
  }
  div.vProfile div.userCard div.userCard-wrap section, div.vProfile div.userCard div.w-100 section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 992px) and (max-width: 330px) {
  div.styles_modal__gNwvD.styles_modalCenter__L9F2w {
    width: 100% !important;
  }
  div.styles_modal__gNwvD.styles_modalCenter__L9F2w div.questions {
    border: none !important;
  }
  div.styles_modal__gNwvD.styles_modalCenter__L9F2w div.questions span.question {
    margin-left: 5px !important;
  }
}
/*# sourceMappingURL=style.css.map */